body{
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}

header{
    padding-top: 1%;
}

.container-fluid{
    background-color: #ffc0cb;
    display: flex;
}

.tittle{
    font-size: 25px;
}

.legend{
    font-size: 20px;
}

